<div class="container">
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file, height: 300, width: 300, crop: :scale, class: "img-card" %>
  <%= f.button :submit %>
<% end %>
  <%# <button type="submit" class="btn btn-primary"><%= link_to @list, list_path(@list) %>
</div>
