<H1><%= @list.name %></H1>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>

<div class="container">
  <%= link_to "New Bookmark", new_list_bookmark_path([@list, @bookmark]) %>
  <%# <%= render "bookmarks/new", list: @list, bookmark: @bookmark %>
  <% @list.bookmarks.each do |bookmark| %>
  <ul>
    <li>
      <%= bookmark.movie.title %>
      <br>
      <%= bookmark.movie.overview %>
      <br>
      <p><%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Etes vous sûr?" } %></p>
    </li>
  </ul>
  <% end %>
</div>
